body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color:#333;
    line-height: 1.6;
}

/* Navigation bar */

.nav{
    background-color: #007bff;
    padding: 1 rem 2rem;
}

.nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
}

.nav ul li{
    margin: 0 15px;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1 rem;
    font-weight: bold;
}

.nav ul li a:hover{
    color: #ffdd57;
    text-decoration: underline;
}

/* Section styling */

#about {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #007bff, #6fbbd3);
    color: white;
}

#about content h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

#about .content h1{
    font-size: 1.5rem;
   font-weight: bold;
    margin-bottom: 10px;
}

#about .content p{
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#about .content b{
    color: #000000;
}

/* Education Section Styling */
#about .content .education h2 {
    font-size: 1.7rem;
    margin: 20px 0 10px;
}

#about .content .education p{
    margin: 5px 0;
}


/* Button Styling */
.button{
    margin-top: 20px;
    text-align: center;
}

.button #next{
    background-color: #ffdd57;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.button #next:hover{
    background-color: #50c0ec;
    color: rgb(24, 243, 239);
}

/* Responsive Design */

@media (max-width: 768px){
    .nav ul{
        flex-direction: column;
    }

    .nav ul li{
        margin-bottom: 10px;
        animation-name: var(#f4f4f9);
    }

    #about .content h2{
        font-size: 1.5rem;
    }

    #about .content p{
        font-size: 1rem;
    }
}