

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #007bff, #6fbbd3);
    color:#333;
    line-height: 1.6;
}

/* Navigation bar */

.nav{
    background-color: #007bff;
    padding: 1 rem 2rem;
}

.nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    margin: 0; 
    padding: 15px;
}

.nav ul li{
    margin: 0 15px;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1 rem;
    font-weight: bold;
}

.nav ul li a:hover{
    color: #ffdd57;
    text-decoration: underline;
}



#connect .icons img{
    display: inline;
    justify-content: center;
    padding: 10px;
    align-items:center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 10px;
}

#connect .icons img:hover{
    background-color:rgb(81, 98, 250);
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Styling */
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

/* Button Styling*/

.button button{
    margin-top: 5px;
    text-align: center;
}

.button #back-to-home-page{
    background-color: #ffdd57;
    color: #333;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.button #back-to-home-page:hover{
    background-color: #50c0ec;
    color: rgb(24, 243, 239);
}

footer {
    text-align: center;
    padding: 0.1px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media(max-width:768px) {

    .nav ul{
        flex-direction: column;
    }

    .nav ul li{
        margin-bottom: 10px;
    }
    
}