body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color:#333;
    line-height: 1.6;
}

/* Navigation bar */

.nav{
    background-color: #007bff;
    padding: 1 rem 2rem;
}

.nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    margin: 0; 
    padding: 15px;
}

.nav ul li{
    margin: 0 15px;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1 rem;
    font-weight: bold;    
}

.nav ul li a:hover{
    color: #ffdd57;
    text-decoration: underline;
}

/* Section styling */

#skills {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #007bff, #6fbbd3);
    color: white;
}

#skills h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

#skills ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

#skills ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skill ul li img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

#skills ul li img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.2);
}

#skills ul li p{
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffdd57;
    font-weight: bold;
}

#experience 

.button{
    margin-top: 20px;
    text-align: center;
}

.button #next{
    background-color: #ffdd57;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.button #next:hover{
    background-color: #50c0ec;
    color: rgb(24, 243, 239);
}

/* Responsive Design */

@media (max-width: 768px){
    .nav ul{
        flex-direction:column;
    }

    .nav ul li{
        margin-bottom: 10px;
    }

    #skills ul{
        flex-direction: column;
    }

    #skills ul li{
        margin-bottom: 20px;
    }



    #skills ul li img{
        width: 100px;
        height: 100px;
    }
}